.citiesMeetUp {
  h2 {
    margin-bottom: 16px;
  }
  p {
    color: #707070;
    margin-bottom: 28px;
  }
  ul {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 64px;
    li {
      text-align: center;

      img {
        margin-bottom: 24px;
      }
    }
  }
}

@media (max-width:1000px) {
   .citiesMeetUp{
    ul{
      margin-bottom: 32px;
    }
}}

@media (max-width: 530px) {
 
  .citiesMeetUp{
    h2{
      font-size: 20px;
    }
    ul{
      gap: 17px;
      margin-bottom: 10px;
      .lastCity{
        display: none;
      }
      li{
        width: 155px;
        h3{
          font-size: 12px;
        }
        p{
          font-size: 10px;
        }
        img{
         width: 100%;
        }
      }
    }
  }

  
}