.eventInNewYork {
  display: flex;
  justify-content: space-between;
}
.filterBlock {
  width: 50%;

  .filterBlockThema {
    margin-bottom: 16px;
  }
  .filterBlockParagrapth {
    color: #00798a;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 16px;
  }
  .filterBlockParagrapth::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #00798a;
    
  }
}

form {
    margin-bottom: 64px;
    .selectList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.selectWrapper {
  position: relative;
  max-width: 170px; 
}

.mySelect {
  font-size: 14px;
  border: none;
  background-color: #F6F7F8;
  padding: 16px;
  padding-right: 40px; 
  border-radius: 40px;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.selectWrapper::after {
  content: "▼";
  font-size: 12px;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #555;
}
}

.filtredEvents {
  li {
    max-width: 604px;
    display: flex;
    gap: 15px;
    padding: 16px 0;
    border-top: 1px solid gray;
    img {
      width: 160px;
      max-height: 90px;
  aspect-ratio: 16 / 9;
  object-fit: cover;    
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .eventDate {
      font-size: 14px;
      color: #7c6f50;
    }
  }
  h3 {
    font-size: 16px;
    color: 212121;
  }
  .eventCategory,
  .eventAttendees {
    color: #707070;
  }
  .eventCategory {
    font-weight: 500;
    margin-bottom: 40px;
  }
}

.location {
  h3 {
    margin-bottom: 20px;
  }
  .map {
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 4 / 3;
    overflow: hidden;
  }
}
