.navbar{
  margin-bottom: 64px;
}
.eventInNewYork {
  display: flex;
  justify-content: space-between;
}
.filterBlock {
  width: 50%;

  .filterBlockThema {
    margin-bottom: 16px;
  }
  .filterBlockParagrapth {
    color: #00798a;
    position: relative;
    display: inline-block;
    padding-bottom: 4px;
    margin-bottom: 16px;
  }
  .filterBlockParagrapth::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background-color: #00798a;
  }
}

.formEvents  {
  margin-bottom: 64px;
  .selectList {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .selectWrapper {
    position: relative;
    max-width: 170px;
    .mySelect:hover, .mySelect:focus {
      background-color:#f65858;
      color: #f6f7f8;
    }
    
  }

  .mySelect {
    font-size: 14px;
    border: none;
    background-color: #f6f7f8;
    padding: 16px;
    padding-right: 40px;
    border-radius: 40px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }

  .selectWrapper::after {
    content: '▼';
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #555;
  }
}

.filtredEvents {
  li {
    max-width: 604px;
    display: flex;
    gap: 15px;
    padding: 16px 0;
    border-top: 1px solid gray;
    img {
      width: 160px;
      max-height: 90px;
      aspect-ratio: 16 / 9;
      object-fit: cover;
    }
    div {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    .eventDate {
      font-size: 14px;
      color: #7c6f50;
    }
  }
  h3 {
    font-size: 16px;
    color: 212121;
  }
  .eventCategory,
  .eventAttendees {
    color: #707070;
  }
  .eventCategory {
    font-weight: 500;
  }
  .eventType2Page{
    display: none;
  }
  .eventAttendees {
    margin-top: 40px;
  }
}

.location {
  h3 {
    margin-bottom: 20px;
  }
  .map {
    width: 100%;
    max-width: 400px;
    height: auto;
    aspect-ratio: 4 / 3;
    overflow: hidden;
  }
}

.mySelect {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

.mySelect:hover,
.mySelect:focus {
  background-color: #f65858;
  color: #f6f7f8;
}

.mySelect.selected {
  background-color: #f65858;
  color: #f6f7f8;
}

@media ( max-width: 1000px){
.eventInNewYork{
  flex-direction: column;
  .filterBlock {
  width: 100%;
  }
  .location {
    margin-bottom: 20px;
    .map{
    
     
      margin: 0 auto;
    }
  }
}

}

@media ( max-width: 750px){
.eventInNewYork{
   .filterBlock {
    h2{
      font-size: 25px;
    }
    .filterBlockParagrapth{
      font-size: 20px;
    }
    .selectList{
      font-size: 12px;
    }
    .eventType2Page{
      display: block;
    }
    .eventDate, .eventCategory, .eventType2Page{
      font-size: 8.5px;
    }
    h3{
      font-size: 10px;
    }
  }
  .eventAttendees{
    display: none;
  }
  .location {
   display: none;
  }
}

}