footer {
  width: 100%;
  padding: 15px 162px 56px 162px;
  background-color: #212121;
  color: #f6f7f8;
  h2 {
    font-size: 16px;
  }
  a {
    font-size: 14px;
    color: #c5c4c4;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, padding 0.3s;
  }
}

.getStarted {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 35px;
  border-bottom: #707070 solid 1px;
  padding: 8px 0 25px 0;
  margin-bottom: 24px;

  .bnt_getStarted {
    color: #f6f7f8;
    border: #f6f7f8 solid 2px;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 14px 10px 14px;
    transition: background-color 0.3s;
  }
}


.footerNavigation {
  display: flex;
  justify-content: start;
  padding-bottom: 12px;

  div {
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  ul {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
}

.sozialMedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
   margin-bottom: 24px;
  h2 {
    margin-bottom: 12px;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
  }
  .download-buttons {
    display: flex;
    gap: 12px;
  }
}
.sozialMediaLinks li{
  border-radius: 25px;
transition: background-color 0.3s, color 0.3s, padding 0.3s;
}
.legal {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 24px;
  .meetup {
    color: #f6f7f8;
  }
}
footer{
  button:hover{
    background-color: #00798a;
  }
  .sozialMediaLinks li:hover{
    a:hover{
      background-color: transparent;
      padding: 0;
    }
    background-color: #00798a;
    color: #f6f7f8;
    padding: 5px;
  }
  a:hover {
    background-color: #00798a;
    color: #f6f7f8;
    padding: 3px;
  }
}


@media (max-width: 950px) {
  footer{
    padding: 15px 52px 56px 52px;;
  }
  .getStarted{
    justify-content: space-between;
  }
  .footerNavigation{
    justify-content: center;
    text-align: center;
  }
  .sozialMedia{
  flex-direction: column;
  align-items: center;
  gap: 10px;
   .download-buttons
 {
  gap: 40px;
 }
 }
.invisibleLi{
  display: none;
}

  }

@media (max-width: 750px) {
     footer{
    padding: 15px 7px 56px 15px;
  }
 .footerNavigation{
    justify-content: center;
    text-align: start;
  }
  .getStarted{
      font-size: 16px;
      gap: 0;
    }
  }

  @media (max-width: 393px) {
 

    .sozialMedia{
  .download-buttons{
    display: none;
  }
}
  }