.joinMeetUp_section {
  display: flex;
  justify-content: space-between;
  background-color: rgba(142, 201, 208, 0.2);
  padding: 20px 56px;
  margin-bottom: 64px;
}

.joinMeetUp_container {
  display: flex;
  flex-direction: column;

  gap: 16px;
  p {
    max-width: 664px;
  }
  a {
    color: white;
    background-color: #e32359;
    padding: 8px 66px;
    max-width: 192px;
    border-radius: 8px;
  }
}



@media (max-width: 750px) {
  .joinMeetUp_section {
    display: grid;
    grid-template-areas:
      "title"
      "image"
      "text"
      "button";
    gap: 16px;
    
  }

  .joinMeetUp_container {
    display: contents; 
  }

  .joinMeetUp_container h2 {
    grid-area: title;
  }

  .joinMeetUp_section img {
    grid-area: image;
    width: 80%;
    justify-self: center;
  }

  .joinMeetUp_container p {
    grid-area: text;
    margin-bottom: 10px;
  }

  .joinMeetUp_container a {
    grid-area: button;
    justify-self: center;
  }
}

@media (max-width: 600px) {
   .joinMeetUp_section{
    margin-bottom: 0;
  h2{
    font-size: 20px;
  }
  p{
    font-size: 12px;
  }
  a {
    padding: 8px 24px 8px 24px;
  }
} 
}

@media (max-width: 393px) {
  .sectionJoinMeetUp{
    padding: 0;
    
  }
}