* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0 auto;
  max-width: 1520px;
  width: 100%;
  color: #212121;
}

button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.container {
  padding: 0 158px;
  max-width: 1512px;
}

h2 {
  font-size: 28px;
  font-weight: 600px;
  line-height: 36px;
}

@media (max-width: 1200px) {
  .container {
    
    width: 100%;
    padding: 0 40px;
    
  }

  
}

@media (max-width: 950px) {
  .container {
    
    width: 100%;
    padding: 0 21px;
    
  }

  
}

