.meetUpStories {
  h2 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .lastP {
    margin-bottom: 28px;
  }
  p {
    color: #707070;
  }
}

.storyList {
  display: flex;

  gap: 32px;
  flex-wrap: nowrap;

  img {
    width: 100%;
    margin-bottom: 24px;
  }
  h3 {
    margin-bottom: 12px;
  }
  li {
    width: calc((100%-64px) / 3);
  }
  li p {
    margin-bottom: 16px;
  }
  li button {
    color: #00798a;
    margin-bottom: 5px;
  }
}

.storyList li {
  flex: 1;
}
